<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="server.app" />
    <add key="PYTHONPATH" value="" />
  </appSettings>
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\flask_iis\env\scripts\python.exe|d:\flask_iis\env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>